@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --light: #f8f9fa;
  --gray-dark: #6c757d;
  --dark: #212529;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus,
a:active {
  outline: none
}

@media (min-width: 768px) {
  .md\:items-unset {
    align-items: unset;
  }

  .md\:pl-inherit {
    padding-left: inherit;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --white: #212529;
    --light: #6c757d;
    --gray-dark: #f8f9fa;
    --dark: #fff;
  }
}
