---
import OpenGraph from "../components/OpenGraph.astro";

const title = "Vincent Nadoll • Lebenslauf";
const ogTitle = "Lebenslauf";
const ogDescription = "Mehrjährige Erfahrung in Softwareentwicklung";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Vincent Nadoll" />
    <meta name="robots" content="noindex" />
    <OpenGraph title={ogTitle} description={ogDescription} />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <link rel="author" type="text/plain" href="humans.txt" />
    <link rel="sitemap" type="application/xml" href="sitemap-index.xml" />
    <title>{title}</title>
  </head>

  <body>
    <h1>Lebenslauf</h1>
    <section class="container">
      <div class="row">
        <div class="col-lg-3">
          <h2>Berufserfahrung</h2>
        </div>
        <div class="col-lg-9">
          <article class="position-relative">
            <span class="period">April 2019 – heute</span>
            <p>
              <b>intecsoft GmbH</b><br />
               Softwareentwickler
            </p>
            <ul>
              <li>Backend-Entwicklung</li>
              <li>Softwarekonzeption</li>
              <li>Projektkoordination</li>
            </ul>
          </article>
          <article class="position-relative">
            <span class="period">Juni 2016 – heute</span>
            <p>
              <b>Vinado Design</b><br />
               Selbstständig
            </p>
            <ul>
              <li>Webdesign und -entwicklung</li>
              <li>Consulting</li>
            </ul>
          </article>
          <article class="position-relative">
            <span class="period">November 2016 – März 2019</span>
            <p>
              <b>intecsoft GmbH</b><br />
               Werkstudent
            </p>
            <ul>
              <li>Full-Stack-Entwicklung</li>
              <li>IT-Supportdienstleistung</li>
            </ul>
          </article>
          <article class="position-relative">
            <span class="period">Oktober 2015 – September 2016</span>
            <p>
              <b>Maritim Hotel & Internationales Congress Center Dresden</b><br />
               Technikaushilfe im Kongresszentrum
            </p>
          </article>
          <article class="position-relative">
            <span class="period">Oktober 2014 – April 2015</span>
            <p>
              <b>intecsoft GmbH</b><br />
               Werksstudent
            </p>
            <ul>
              <li>Native Appentwicklung (Android)</li>
            </ul>
          </article>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-lg-3">
          <h2>Ausbildung</h2>
        </div>
        <div class="col-lg-9">
          <article class="position-relative">
            <span class="period">Oktober 2019 – Januar 2023</span>
            <p>
              <b>Berufsakademie Sachsen<br />Staatliche Studienakademie Dresden</b><br />
               Studiengang: Informationstechnologie - Medieninformatik<br />
               Abschluss: Bachelor of Engineering (Note „gut“)<br />
            </p>
            <ul>
              <li>
                SS 2022 Projektmanagement und Medienprojekt<br />
                 Projektverantwortung in einem Scrum Team
              </li>
              <li>
                WS 2021/2022 Interaktive Medien<br />
                 Entwicklung einer VR-Simulation mit Unity und<br />
                 3D-Modellierung in Blender
              </li>
            </ul>
          </article>
          <article class="position-relative">
            <span class="period">September 2017 – Februar 2019</span>
            <p>
              <b>Hochschule für Technik und Wirtschaft Dresden</b><br />
               Studiengang: Informatik<br />
               Angestrebter Abschluss: Bachelor of Science<br />
            </p>
          </article>
          <article class="position-relative">
            <span class="period">Oktober 2013 – Januar 2017</span>
            <p>
              <b>Technische Universität Dresden</b><br />
               Studiengang: Medieninformatik<br />
               Angestrebter Abschluss: Bachelor of Science
            </p>
            <ul>
              <li>
                SS 2015 Lernspielpraktikum<br />
                 Entwicklung eines Lernspiels im Rahmen des Moduls Medienpsychologie und -didaktik
              </li>
              <li>
                WS 2014/2015 Softwaretechnologiepraktikum<br />
                 Entwicklung einer webbasierten Verwaltungssoftware in Java
              </li>
              <li>WS 2014/2015 Tutor für Programmierkurs in C</li>
              <li>
                WS 2013/2014 Robolab Praktikum<br />
                 Programmierung eines LEGO Mindstorms in C
              </li>
            </ul>
          </article>
          <article class="position-relative">
            <span class="period">2009 – 2013</span>
            <p>
              <b>Landesgymnasium für Musik Wernigerode</b><br />
               Abschluss: Abitur 2013
            </p>
          </article>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-lg-3">
          <h2>Kenntnisse und Fähigkeiten</h2>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col">
              <dl>
                <dt>Sprachen</dt>
                <dd>
                  Deutsch<br />
                   Englisch (GER B2+)
                </dd>
                <dt>Kompetenzen</dt>
                <dd>
                  Frontend- und Backend-Entwicklung<br />
                   Webdesign<br />
                   DevOps-Entwicklung<br />
                   Entwicklerwerkzeuge
                </dd>
              </dl>
            </div>
            <div class="col">
              <dl>
                <dt>Programmiersprachen und Vglb</dt>
                <dd>
                  Java<br />
                   JavaScript/TypeScript<br />
                   HTML<br />
                   CSS<br />
                   PHP<br />
                   SQL<br />
                   C/C++<br />
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container">
      <div class="row">
        <div class="col-lg-3">
          <h2>Engagement</h2>
        </div>
        <div class="col-lg-9">
          <article class="position-relative">
            <span class="period">Oktober 2017 – März 2019</span>
            <p>
              <b>ascii Dresden e.V.</b> (ehem. Studenteninitiative IZ e.V.)<br />
               Vorstandsvorsitzender
            </p>
          </article>
          <article class="position-relative">
            <span class="period">August 2015 – August 2017</span>
            <p>
              <b>Junger Männerchor Wernigerode e.V.</b><br />
               Vorstandsmitglied für Proben- und Konzertorganisation
            </p>
          </article>
        </div>
      </div>
    </section>
  </body>
</html>

<style>
h1, h2 {
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  font-weight: 700;
  opacity: 0.9;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #37474f;
}

.period {
  font-size: .9rem;
  color: var(--secondary);
}

ul {
  margin-top: -0.8rem;
  padding-left: 20px;
}

.border-dotted {
  border-style: dotted;
}

div.border-bottom.border-dotted {
  height: 1px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .period {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
    color: inherit;
  }
}
</style>
