---
import Main from "../layouts/Main.astro";
import Section from "../components/Section.astro";
import Icon from "../components/Icon.astro";
import Link from "../components/Link.astro";

const description = "Find me on X, GitHub - Barista and Maintainer at ascii Dresden - Contact me via Telegram, Email";
const ogTitle = "Homepage";
const ogDescription = description;
---

<Main classList={["grid", "grid-cols-1", "md:grid-cols-3", "md:gap-4"]} ogTitle={ogTitle} ogDescription={ogDescription}>
  <Section title="Find me on">
    <ul class="pl-0 md:pl-inherit list-none">
      <li><Icon classList={["fab", "fa-github", "fa-fw", "mr-1"]} /><Link href="https://github.com/V1ncNet" value="GitHub" /></li>
      <li><Icon classList={["fab", "fa-instagram", "fa-fw", "mr-1"]} /><Link href="https://www.instagram.com/vinado95/" value="Instagram" /></li>
      <li><Icon classList={["fab", "fa-x-twitter", "fa-fw", "mr-1"]} /><Link href="https://x.com/V1ncNet" value="X" /></li>
    </ul>
  </Section>
  <Section title="I'm loving to">
    <ul class="pl-0 md:pl-inherit list-none">
      <li><Icon classList={["fas", "fa-music", "fa-fw", "mr-1"]} /><Link href="https://kammerchor-wernigerode.de" value="Sing @ Kammerchor Wernigerode" /></li>
      <li><Icon classList={["fas", "fa-code", "fa-fw", "mr-1"]} /><Link href="https://github.com/kammerchor-wernigerode" value="Code @ Kammerchor Wernigerode" /></li>
      <li><Icon classList={["fas", "fa-coffee", "fa-fw", "mr-1"]} /><Link href="https://ascii.coffee" value="Serve @ ascii Dresden" /></li>
    </ul>
  </Section>
  <Section title="Contact me via">
    <ul class="pl-0 md:pl-inherit list-none">
      <li><Icon classList={["fab", "fa-telegram", "fa-fw", "mr-1"]} /><Link href="https://t.me/vinado" value="Telegram" /></li>
      <li><Icon classList={["fas", "fa-envelope", "fa-fw", "mr-1"]} /><script is:inline src="/encrypted-mail.labeled.js"></script></li>
    </ul>
  </Section>
</Main>
