---
import Navigation from "./Navigation.astro";

const now = new Date();
const year = now.getFullYear();
---

<footer aria-label="Main navigation">
  <p>
    <span aria-hidden="true">&copy; {year}</span>
    <Navigation />
  </p>
</footer>
