<header class="pb-8 text-center md:text-left md:flex items-center">
  <h1 class="md:inline-block md:text-5xl">Vincent Nadoll</h1>
</header>

<style>
  header {
    border-bottom: 1px solid var(--gray-dark);
  }
</style>
