<div class="stuck-pixel" aria-hidden="true"></div>

<style>
  .stuck-pixel {
    background-color: #ff00ff;
    width: 1px;
    height: 1px;
    position: fixed;
    top: 230px;
    left: 330px;
    z-index: 9999;
  }

  @media screen and (min-width: 768px) {
    .stuck-pixel {
      top: 210px;
    }
  }
</style>
